
@{
    ViewData["Title"] = "Success";
}
<head>
    <link rel="stylesheet" href="~/css/Home.css"/>
</head>
<div class="img-cen">
    <img src="~/Images/success.png" width="300px"/>
</div>
<div class="row text-center">
    <a asp-action="Index">Back To Home Page</a>
</div>

