@using MiniProjectEcommerce
@model MiniProjectEcommerce.Models.Product
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <h2 style="color:mediumpurple">
        Edit A Product
    </h2>
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
             <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductName"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductName" class="form-control" id="validationCustom05" required/>
            </div>
            </div>
            <div class="form-group row">
            <span asp-validation-for="ProductName" class="text-danger"></span>
             <div class="col-2">
                <label asp-for="productDescription"></label>
            </div>
            <input asp-for = "ProductImageUrl" type="hidden"/>
            <div class="col-5">
                <input asp-for="productDescription" class="form-control" id="validationCustom05" required/>
            </div>
            <span asp-validation-for="productDescription" class="text-danger"></span>
            </div>
            <div class="form-group row">
            <div class="col-2">
                <label asp-for="category.categoryName"></label>
            </div>
            <div class="col-5">
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.savecat"></select>
            </div>
            <span asp-validation-for="category.categoryName" class="text-danger"></span>
            </div>
            <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductImageFile"> </label>
            </div>
            <div class="col-5">
                <input asp-for="ProductImageFile" class="form-control" type="file">
            </div>
            <span asp-validation-for="ProductImageFile" class="text-danger"></span>
            </div>
            <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProductPrice"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProductPrice" class="form-control" id="validationCustom05" required/>
            </div>
            <span asp-validation-for="ProductPrice" class="text-danger"></span>
            </div>
            <div class="form-group row">
             <div class="col-2">
                <label asp-for="Availability"></label>
            </div>
            <div class="col-5">
                <input asp-for="Availability" type="checkbox"/>
            </div>
            <span asp-validation-for="Availability" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" value="Update" type="submit"/>
            <a asp-action="Index" class="btn btn-success"> Back to List</a>
        </div>
        </div>
         <div class="col-1">

        </div>
         <div class="col-3">
             <img src="~/@Model.ProductImageUrl" width="100%"/>
        </div>

       
    </div>
</form>
</div>

